@import "../../node_modules/swiper/swiper-vars";
@import "../../node_modules/swiper/swiper";
@import "../../node_modules/swiper/modules/autoplay";
@import "../../node_modules/swiper/modules/navigation";
@import "../../node_modules/swiper/modules/pagination";

.slider-arrow--prev {
	svg {
		transform: rotate(180deg);
	}
}
.slider-reviews {
	position: relative;
	&__controls {
		position: absolute;
		bottom: 0;
		z-index: 2;
		width: 100%;
	}
	.slider-arrows {
		display: flex;
		justify-content: space-between;
	}
}