.tabs {
	&__head {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		min-height: 112px;
		margin-bottom: 80px;

		overflow: hidden;
	}
	&__caption {
		max-width: 300px;
		font-size: 32px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
		padding: 24px;

		flex: 1 1 auto;

		color: rgba($color: $mainTextColor, $alpha: 0.5);
		transition: all 0.3s ease;
		
		&--active {
			color: rgba($color: $mainTextColor, $alpha: 1);
			position: relative;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 4px;
				background: $accentGradient;
			}
		}
		&:hover {
			color: $accentColor;
		}
	}
	&__item {
		display: none;
		&--active {
			display: flex;
		}
		transform: scaleY(0.8);
		opacity: 0;
		transform-origin: center top;
		-webkit-animation: showContent 0.6s forwards;
		animation: showContent 0.6s forwards;
	}
	&__title {
		font-family: "Raleway";
		font-size: 80px;
		line-height: 1.18;
		font-weight: 700;
		letter-spacing: 1px;

		margin-bottom: 30px;
	}
	&__text {
		color: rgba($color: $mainTextColor, $alpha: 0.5);
		letter-spacing: -0.6px;

		margin-bottom: 36px;
	}
	&__list {
		margin-bottom: 48px;
	}
	&__list-item {
		position: relative;
		display: flex;
		align-items: center;
		&::before {
			content: "";
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: rgba($color: $mainTextColor, $alpha: 0.08);
			background-image: url("../img/icons/check.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: auto;

			margin-right: 16px;
		}
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		
	}
	&__image {
		width: 50%;
		object-fit: contain;
		height: auto;
	}
	&__link {
		position: relative;

		&::after {
			content: "";
			display: block;
			width: 32px;
			height: 32px;
			background-image: url("../img/icons/arrow-down-left.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			margin-left: 24px;
		}
	}
	@media (max-width: 990px) {
		&__caption {
			font-size: 26px;
		}
		&__item {
			flex-direction: column-reverse;
			align-items: center;
		}
		&__title {
			font-size: 30px;
			margin-bottom: 15px;
		}
		&__head {
			margin-bottom: 15px;
		}
	}
	@media (max-width: $bp480) {

		&__caption {
			padding: 15px;
			font-size: 16px;
		}
		&__list-item {
			font-size: 18px;
		}
	}
}

@keyframes showContent {
	0% {
		transform: scaleY(0.8);
		opacity: 0;
	}
	100% {
		transform: scaleY(1);
		opacity: 1;
	}
}