.user-nav {
	&__item {
		display: flex;
		align-items: center;

	}
	&__link {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 500;
		&:hover {
			color: rgba($color: $mainTextColor, $alpha: 0.5);
		}
		&:hover + .user-nav__svg path{
			fill: $accentColor;
			transition: all 0.3s ease;
			text-decoration: underline;
		}
		&:focus {
			outline: none;
			text-decoration: underline;
		}
		&:focus + .user-nav__svg path{
			fill: $accentColor;
			transition: all 0.3s ease;
		}
		&:active {
			color: $accentColor;
		}
	}

}